# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Unity Package Manager
/[Pp]ackages/packages-lock.json

# Visual Studio cache
.vs/

# Rider cache
.idea/

# macOS
.DS_Store
*.swp
*.swo

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
